<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css">
    <title>График</title>
</head>

<body>
    <div>
        @Scripts.Render("~/bundles/jquery")
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>﻿
        @Html.ActionLink("На главную", "Index", "Home")

        <br />
        @RenderSection("scripts", required: false)
        @RenderBody()
    </div>
</body>

</html>
